apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200

  - name: Postgres
    type: postgres
    url: db:5432
    user: grafanareader
    secureJsonData:
      password: 'password'
    jsonData:
      database: tracing
      sslmode: 'disable'
